<header>
  <div class="header-container">
    <nav>
      <ul class="nav-menu">
        <li><a href="./">Home</a></li>
        <li><a href="./ticktock-news.html">Brain Teasers</a></li>
        <li><a href="./ticktock-contacts.html">Game Info</a></li>
      </ul>
    </nav>
    <a href="./" class="logo">Userewrds.com</a>
    <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-close" onclick="toggleMobileMenu()">×</div>
    <a href="./">Home</a>
    <a href="./ticktock-news.html">Brain Teasers</a>
    <a href="./ticktock-contacts.html">Game Info</a>
  </div>
</header>
